@import "settings";
@import "foundation";

#about, #map, #intro, #menu, #calendar {
	
height: 100vh;
  /*

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

}
#intro{
	background-image:url(../img/test-banner.jpg);
}

#about{
	background-color: #D1DBBD;
}

#menu{
	background-color: #3E606F;
}

#calendar{
	background-color: #D1DBBD;
}

#map{
	background-color: #3E606F;
}

h3{
	font-family: 'Vast Shadow', cursive;
	color: #91AA9D;
	display: inline-block;
}

.sub-nav{
	text-align: center;
	dl{
		text-align: center;
		display: inline;
	}
}