@import "normalize";
@import "settings";
@import "foundation";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../lato.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../Oswald.woff) format('woff');
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
	color: white;
	display: inline-block;
}
p{
	font-family: 'Lato', serif;

}
// @font-face {
//   font-family: "CFRevolution";
//   src: url("../CFRevolution.woff");
// }
.orbit-next, .orbit-prev {
    display: block !important; 
}
.fullWidth{
	width: 100%;
	margin: 0 auto;
	max-width: initial;
}
.panel{
	background-color: rgba(89, 27, 11, 0.75);
	color: white;
	border-color:  rgba(89, 27, 11, 0.75);
	p{
		opacity: 1;
	}
}
#about{
	background-color: #f7ebbb;
	min-height: 60vh

}

#menu{
	// background-color: #b2b8b6;
	background-color: #899395;
	position: relative;
	.menuHeading{

	}
}
 
#calendar{
	// background-color: #D96459;
	background-image:url(../img/calendar.jpg);
	/* fix background */
	background-attachment: fixed;
	/* center it */
	background-position: center center;
	/* Scale it nicely to the element  */
	background-size: cover;
}

#map{
	background-color: #575e4a;
}


.sectionHeader{
	width: 150px;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

#intro{
	position: relative !important;
	background-image:url(../img/Banner2.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	#introSlogan{
		display: block;
		text-align: center;
	}
	#introText{
		padding-top: 34vh;
		h5{
			
		}
	}
	
	#logoContainer{
		width: 68%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding-top: 30vh;
		@media #{$small-only} {
			width: 80%;
		}
		#mainLogo{
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}

}

#about{
	
	#aboutText1{
		

	}
	#aboutText2{
		

		
	}
	#aboutText3{
		

		
	}
	#aboutText4{
		@media #{$medium-up} {
			margin-bottom: 100px !important;
		}
	}	
	#aboutImage1{
		display: inline-block;		
		
		@media #{$small-only} {
			width: 100%;
		}

		@media #{$medium-up} {
			width: 48%;
			height: auto;
		}

		@media #{$large-only} {
			display: block;
			width: 90%;
			margin: 0 auto;
			margin-bottom: 12px;
		}
		@media #{$xlarge-up} {
			margin-left: 1%;
			margin-right: 1%;
		}
		
		img{
			width: 100%;
			height: auto;
		}		
	}
	#aboutImage2{
		display: inline-block;
		@media #{$medium-up} {
			width: 48%;
			height: auto;
			padding-bottom: 20px !important;
		}

		@media #{$large-only} {
			display: block;
			width: 90%;
			margin: 0 auto;
		}
		@media #{$large-up} {
			// margin-left: 1%;
		}		

		img{
			width: 100%;
			height: auto;
		}
	}
	#aboutImage3{
		float: right;
		display: inline-block;

		@media #{$small-only} {
			width: 100%;
			margin-bottom: 3%;
			margin-top: 3%;
		}
		@media #{$medium-up} {
			width: 60%;
			margin-left: 3%; 
			margin-bottom: 3%;
			margin-top: 3%;			
		}
		@media #{$xlarge-up} {
			width: 50%;
			margin-left: 3%;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
	.hoursContainer{
		@media #{$small-only} {
			width: 100%;
			margin-bottom: 3%;
		}
		@media #{$medium-only} {
			width: 66%;
		}
		@media #{$large-up} {
			width: 50%;
			margin-bottom:3%; 
		}

		
		display: block;
		margin: 0 auto;
		img{
			width:100%;
			height: auto;
		}
	}

}


#menu{
	#menuImage1{
		@media #{$small-only} {
			margin-bottom: 5%;
		}
		@media #{$medium-up} {
			display: inline-block;
			width: 30%;
			margin-left: 4%;
			margin-bottom: 3%;
			margin-top: 1.5%; 			
		}
	}
	#menuImage2{
		@media #{$small-only} {
			display: none;
		}
		@media #{$medium-up} {
			display: inline-block;
			width: 30%;
			margin-left: 1%;
			margin-right: 1%;
			margin-bottom: 3%;
			margin-top: 1.5%;
		}
	}
	#menuImage3{
		@media #{$small-only} {
			display: none;
		}
		@media #{$medium-up} {
			display: inline-block;
			width: 30%;
			margin-bottom: 3%;
			margin-top: 1.5%;
		}
	}
	.title{
		color: white;
		@media #{$medium-up} {
		padding-left: 13%;	
		}
		
	}
	.description{
		color: white;
		margin-bottom: 2px;
		@media #{$medium-up} {
		padding-left: 13%;	
		}
		
	}
	.price{
		color: white;
		@media #{$medium-up} {
		padding-left: 13%;	
		}
		
	}
	#saladNote{
		@media #{$medium-up} {
			margin-bottom: 12%;
			padding-left: 13%;
		}		
		p{
			color: white;
		}
	}
}

#calendar{
	
	@media #{$medium-only}{
		padding-right: 10%;
		padding-left: 10%;
	}
	h2{
		display: block;
		text-align: center;
		text-decoration: underline;
		 
	}
	.specialText{
		display: block;
		text-align: center;
		text-decoration: underline;

	}
	.weeklyDescription{
		text-align: center !important;
		color: white;
		@media #{$large-up}{
			padding-left: 6px;
		}

	}
	.calendarTitle, .calendarDate{
		background-color: $oil;
		display: block;
		margin: 0;
		padding-left: 2%;
	}
	.calendarDate{
		padding-top: 0.5%;
	}
	#orbitSlider{
		@media #{$medium-only} {
			margin-top: 5%;
		}
		@media #{$medium-up} {
			// margin-bottom: 2%;

		}
		img{
			width: 100%;
			height: auto;
		}
	}
}

#map{
	p{
		color: white;
		padding: 4%;

	}
	h5:nth-of-type(1){
		font-family: Oswald;
		text-decoration: none;
		margin: 0;
	}
	h5:nth-of-type(2){
		margin: 0;
		padding: 0;
		text-decoration: none;
	}
	h5{
		padding: 4%;
		text-align: center;
		display: block;
		// font-family: lato, sans-serif;
		margin: 0; 
		text-decoration: underline;
	}
	h6{
		display: block;
		text-align: center;
		font-family: lato, sans-serif;
		margin-top: 0;
		padding: 0
	}
	#socialIcons{
		text-align: center;
		img{
			width: 32px;
			height: auto;
			display: inline-block;
			margin: auto;
			margin-bottom: 5%;
		}
		img:nth-of-type(2){
			margin-left: 8px;
			margin-right: 8px;
		}
	}
	#googleMap{
		height: 550px;
		margin-bottom: 35px;
		padding-left: 4%;
		padding-right: 4%;
	}
}

.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover {
// @media #{$medium-up} {
// 	background:transparent !important;	
// 	}
}
.top-bar{
	// margin-bottom: -45px !important;
}