doctype html
html(class="no-js" lang="en")

  head
    meta(charset="utf-8")
    <!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Throwbacks
    //- link(href="http://fonts.googleapis.com/css?family=Lato|Oswald:700", rel='stylesheet' type='text/css')
    link(rel="icon", type="image/png", href="./img/favicon.ico")
    link(rel="stylesheet" href="css/app.css")  
    script(src="bower_components/modernizr/modernizr.js")



  body
    .sticky
      nav.top-bar(data-topbar)
        ul.title-area
          li.name
            
          li.toggle-topbar.menu-icon
            a(href="#") 
              span
      
        section.top-bar-section
          ul.right
            li
              a.navLink#introLink(href="#", onclick="return false") Throwbacks
            li
              a.navLink#aboutLink(href="#", onclick="return false") Story
            li
              a.navLink#menuLink(href="#", onclick="return false") Eats
            li
              a.navLink#calendarLink(href="#", onclick="return false") Dates
            li
              a.navLink#mapLink(href="#", onclick="return false") Find Us

    .row.fullWidth#intro
      .small-12.columns
        #logoContainer
          img#mainLogo(src="./img/BannerLogo.png")
        #introText
          h5 142 Belle Forest Circle Nashville TN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          h5 (615)-997-3735

    .row.fullWidth#about
      .small-12.columns
        img.sectionHeader(src="./img/story.png")
        .row
          .small-12.large-6.columns
            #aboutImage1
              img.th(src="./img/bar2.jpg")
            #aboutImage2
              img.th.hide-for-small(src="./img/sBoard.jpg")
            .hoursContainer.hide-for-small
              img(src="./img/hours.jpg")
              
              
          .small-12.large-5.columns.end      
            p#aboutText1
              | I was thrown back, as it were, into Nashville in 2009. I'm Steve Gehlman and though I came to care for my father after selling a financial services business in Chicago, I had a such a fantastic group of friends from back in the 80s that it only took 3 months to begin asking "why not stay here."  Nashville had grown up into a truly vibrant, cultural city.


            p#aboutText2
              | Fate rewarded me and sealed the deal when I met the the love of my life, Angie, at the Bellevue Pub later that year. Like everyone coping with the terrible time in the markets, she was bartending there part time to make ends meet as a realtor. Even the regulars harkened back to better times with stories of how the pub had been a great neighborhood gathering place going back 25 years. 
              img.th#aboutImage3(src="../img/sign2.jpg")
              | Everyone longed to have it back. In my teens and twenties I'd paid my dues working in all aspects of the hospitality business. So when I stepped in with the long-held dream of owning a bar and grill, it wasn't like I was going in cold.
            
            p#aboutText3
              | Angie and I took on the goal of completely remodeling, revitalizing and rebranding the pub with a crisp character and back to the future feel. Keep the old school vibe, we thought, and the great music that's rocked the test of time. Unplug social networking back to where it once belonged. 
            
              | Bring back a buoyant, female-friendly space framed with real dart boards, a classic shuffleboard table, serious live music staging, and karaoke nights - all punctuated with great beer, spirits, and superb food done right.
            p#aboutText4
              | The name hit Angie in an inspired flash, <em>Throwbacks</em>. And here we are. We're a place to meet your friends and make some more. Come and meet our friendly staff, enjoy great food & drink, daily specials and get back to where you once belonged.
            .hoursContainer.hide-for-medium-up
              img(src="./img/hours.jpg")
    .row.fullWidth#menu
      .small-12.columns
        img.sectionHeader(src="./img/eats.png")
        .row
          .small-12.large-9.large-offset-2.columns.end
            img.th#menuImage1(src="./img/burger.jpg")
            img.th#menuImage2(src="./img/bar.jpg")
            img.th#menuImage3(src="./img/philly.jpg")
          .small-12.medium-6.large-4.large-offset-3.columns
            #appetizers
              img.menuHeading(src="./img/appetizers.png")
              .menu-entry
                h4.title Buffalo Chicken Wings (8)
                p.description With ranch dressing on the side
                p.price $6.00

              .menu-entry
                h4.title Fried Mushroom Basket
                p.description Traditional style with medium heat
                p.price $7.00
              
              .menu-entry 
                h4.title Sausage & Cheese Plate
                p.description Smoked Polish, cheddar, swiss and pepperjack with saltines
                p.price $7.00

              .menu-entry
                h4.title Fried Pickle Chips
                p.description With ranch dressing on the side
                p.price $6.00

              .menu-entry
                h4.title Basket of Onion Rings
                p.description Crisp and hot rendition of an old favorite
                p.price $5.00

              .menu-entry
                h4.title Chicken Tenders (3)
                p.description Choice of rangch, bbq or honey mustard - buffalo style add $1
                p.price $6.00

              .menu-entry
                h4.title Quesadilla
                p.description With picante, sour cream & jalapenos on the side - add chicken, peppers & onions $2
                p.price $4.00

              .menu-entry
                h4.title Basket of Fries
                p.description The perfect touch of retro crisp
                p.price $4.00

              .menu-entry
                h4.title Fried Mozzarella Sticks (6)
                p.description Served with our zesty marinara sauce
                p.price $6.00                                                                                               
            
            #salads
              img.menuHeading(src="./img/salads.png")

              .menu-entry
                h4.title Throwbacks Salad
                p.description Iceberg & romaine, tomato, red onion, ham, egg, bacon bits, cucumber, shredded cheddar
                p.price $7.50
              
              .menu-entry
                h4.title Ceasar Salad 
                p.description Classic with romaine, shredded parmesan cheese and croutons
                p.price $6.00
              
              #saladNote
                p
                  | Ranch, honey mustard, Italian, Blue Cheese, Caesar
                p
                  | Add Fried or Grilled Chicken for $2.00
          .small-12.hide-for-medium-up.columns
            img.th(src="./img/philly.jpg")
          .small-12.medium-6.large-4.columns
            #sandwiches
              img.menuHeading(src="./img/sandwichesNstuff.png")
              .menu-entry
                h4.title Throwbacks Burger
                p.description 1/3 lb. Retro goodness with cheddar, american, swiss, pepperjack or provolone $.50
                p.price $8.00

              .menu-entry
                h4.title Chicken Salad Wrap
                p.description Flour or spinach tortilla with lettuce & tomato
                p.price $8.00
              
              .menu-entry
                h4.title Ahi Tuna Steak Sandwich 
                p.description Grilled and served on a toasted bun with wasabi mayo, lettuce, tomato & onion
                p.price $8.00

              .menu-entry
                h4.title Grilled Cheese
                p.description Add ham $1. Add tomato & raw onion $.50
                p.price $4.00

              .menu-entry
                h4.title Pimento Cheese Sandwich
                p.description Homemade pimento cheese on toasted bread
                p.price $5.00
                
              .menu-entry
                h4.title Philly Steak Sandwich
                p.description Grilled onions & peppers, melted provolone
                p.price $7.00

              .menu-entry
                h4.title Bacon Lettuce & Tomato
                p.description The classic on toasted white bread with mayo on the side
                p.price $5.00

              .menu-entry
                h4.title Throw-Backyard Dog
                p.description Char grilled, 1/4lb. all beef hot dog with choice of relish, chopped or grilled onions and jalapenos
                p.price $4.00

              .menu-entry
                h4.title Polish Dog
                p.description Hearty Polish sausage with choice of relish, chopped or grilled onions and jalapenos
                p.price $5.00

              .menu-entry
                h4.title Chicken Tender Wrap
                p.description Fried tenders with side of honey mustard, lettuce & tomato. Make it Buffalo stlye add $1
                p.price $6.00

              .menu-entry
                h4.title Fried Bologna Sandwich 
                p.description Thick slice on toasted white bread with lettuce, tomato & onion
                p.price $6.00

              .menu-entry
                h4.title Grilled Chicken Breast Sandwich
                p.description On toasted bun with side of honey mustard, lettuce tomato & onion
                p.price $7.00

          .large-1.hide-for-small.hide-for-medium.columns

    .row.fullWidth#calendar
      .small-12.columns
        img.sectionHeader(src="./img/dates.png")
      .row.collapse    
        .small-12.medium-12.large-4.large-offset-1.xxlarge-offset-2.xxlarge-3.columns
          h2 Weekly Specials
          h4.specialText Sunday
          p 2 for 1 Domestic Drafts  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5 Burgers & Chips!
          h4.specialText Monday
          p $2 Domestic Bottles  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5 Three Olive Bombs
          h4.specialText Tuesday
          p $2 PBR Tall Boys &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $5 Miller High Life Pitchers
          h4.specialText Wednesday
          p Wings & Wells! &nbsp;&nbsp;&nbsp; $50 cent wings &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$3 Well Drinks
          h4.specialText Thursday
          p Throwback Thursdays! &nbsp;&nbsp;&nbsp; Happy Hour 'til 9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $6 Bud Light Pitchers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $4 Throwbacks Shots
          h4.specialText Friday
          p $4 Fireball Shots &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Half Price Quesadillas
          h4.specialText Saturday
          p $15 Domestic Buckets(6) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Half Price Dogs & Polish &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No Cover Charge!!!

        .small-12.medium-12.large-5.large-offset-1.xxlarge-offset-1.xxlarge-3.columns.end
          ul#orbitSlider(data-orbit)
            
    .row.fullWidth#map
      .small-12.columns
        img.sectionHeader(src="./img/findUs.png")
      .row.collapse
        .small-12.large-3.large-offset-2.columns
          h5 Head on down to Bellevue in West Nashville. We're a skip and a jump from the intersection of Old Hickory and Hwy 70s.
          br
          h5 615-997-3735
          h5 Monday-Thursday 
          h6 2pm-1am
          h5 Saturday
          h6 Noon-2am
          h5 Sunday 
          h6 Noon-12am
          h5 Follow Us!
          #socialIcons.centered
            img(src="./img/facebook.png")
            img(src="./img/twitter.png")
            img(src="./img/google-plus.png")
          
        .small-12.large-6.columns.end
          iframe#googleMap(width="100%", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnjbH3hVnKXa8oiBIVQw5ONWs-WY0RBpU&q=142+Belle+Forest+Circle,Nashville+TN")
          

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/foundation/js/foundation.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="js/app.js")


