doctype html
html(class="no-js" lang="en")

  head
    meta(charset="utf-8")
    <!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Throwbacks
    link(href='http://fonts.googleapis.com/css?family=Playfair+Display|Fauna+One|Vast+Shadow' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/app.css")  
    script(src="bower_components/modernizr/modernizr.js")
    script(src="https://apis.google.com/js/client.js?onload=load")


  body
    .fixed
      nav.top-bar(data-topbar)
        ul.title-area
          li.name
            h1: a#navTitle(href="./") Throwbacks
          li.toggle-topbar.menu-icon
            a(href="#") 
              span
                | Menu
        section.top-bar-section
          <!--Right Nav Section-->
          ul.left
            li.divider
            li
              a.navLink#introLink(href="#") Intro
            li.divider
            li
              a.navLink#aboutLink(href="#") About
            li.divider
            li
              a.navLink#menuLink(href="#") Menu
            li.divider
            li
              a.navLink#calendarLink(href="#") Calendar
            li.divider
            li
              a.navLink#mapLink(href="#") Map
            li.divider

    .row.fullWidth#intro
      .small-12.columns
        #logoContainer
          img(src="./img/BannerLogo.png")#mainLogo

    .row.fullWidth#about
      .small-12.columns
        h1 About

    .row.fullWidth#menu
      .small-12.columns
        h1 Menu

    .row.fullWidth#calendar
      .small-12.columns
        h1 Calendar
        
    .row.fullWidth#map
      .small-12.columns
        h1 Map      

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/foundation/js/foundation.min.js")
    script(src="js/app.js")


